/* SCSS Main File */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

/* Vendors */
@import "vendors/normalize";

/* Base */
@import "base/base";

/* Shame */
@import "shame";

body {
  background-color: #131313;
  color: white !important;
  height: 100vh;
}