.color-identifier {
  position: relative;
  cursor: pointer;
}

.focused {
  z-index: 1;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -1.5px;
      bottom: -1.5px;
      left: -1.5px;
      right: -1.5px;
      border-radius: 6px;
      border: 2.5px solid #fff;
      box-shadow: 0 0 2px 0 #00000032, inset 0 0 2px 0 #00000032;
    }
}
